<article>
    <section>
        <img src="https://i.pinimg.com/originals/f4/7e/36/f47e3642bcc22272837ea3e9897c9690.jpg">
    </section>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <h1>Login</h1>
        <div>
            <label>Email
                <input type="email" formControlName="email">
            </label>
            <label>Password
                <input type="password" formControlName="password">
            </label>
            <div *ngIf="firebaseErrorMessage != ''">
                <span>{{ firebaseErrorMessage }}</span>
            </div>
            <button class="submit">Login</button>
        </div>
        
    </form>
</article>
