<article>
    <section>
        <img src="https://i.pinimg.com/originals/f4/7e/36/f47e3642bcc22272837ea3e9897c9690.jpg">
    </section>
    <form>
        <h1>Login</h1>
        <div>
            <label>Username
                <input #emailInput type="email" name="email">
            </label>
            <label>Password
                <input #passwordInput type="password" name="password">
            </label>
            <button class="submit" (click)="login(emailInput.value, passwordInput.value)">Login</button>
        </div>
    </form>
</article>
