<article>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-wrapper">
            <h1>Login</h1>
            <label>Email
                <input type="email" formControlName="email">
            </label>
            <label>Password
                <input type="password" formControlName="password">
            </label>
            <div *ngIf="firebaseErrorMessage != ''">
                <span>{{ firebaseErrorMessage }}</span>
            </div>
            <div class="button-wrapper">
                <button class="action-button" type="submit">Login</button>
            </div>
        </div>
    </form>
</article>