footer {
    width: 100%;
    text-align: center;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    margin-bottom: 2rem;
    color: white;
}

a {
    text-decoration: none;
    color: black;
}