<article>    
    <form [formGroup]="form">
        <div *ngIf="id" class="form-wrapper">
            <h1>Edit Reminder</h1>
            <label>Date
                <input type="text" formControlName="date" name="date">
            </label>
            <label>Hour
                <input type="text" formControlName="hour" name="hour">
            </label>
            <label>Description
                <input type="text" formControlName="description" name="description">
            </label>
            <div class="error" *ngIf="error != ''">
                <span>{{ error }}</span>
            </div>
            <div class="button-wrapper">
                <button type="submit" class="action-button" (click)="updateEvent(id)">Submit</button>
            </div>
        </div>
    </form>
</article>