<article>
    <form [formGroup]="form">
        <div class="form-wrapper">
            <h1>Add Event</h1>
            <label>Date
                <input type="text" formControlName="date" name="date">
            </label>
            <label>Hour
                <input type="text" formControlName="hour" name="hour">
            </label>
            <label>Description
                <input type="text" formControlName="description" name="description">
            </label>
            <div class="button-wrapper">
                <button class="action-button" type="submit" (click)="addEvent()">Add</button>
            </div>
        </div>
    </form>
</article>