<article>
    <section>
        <img src="https://i.pinimg.com/originals/f4/7e/36/f47e3642bcc22272837ea3e9897c9690.jpg">
    </section>
    <form>
        <h1>Add Event</h1>
        <div>
            <label>Date
                <input type="text">
            </label>
            <label>Hour
                <input type="text">
            </label>
            <label>Description
                <input type="text">
            </label>
            <button class="submit">Add</button>
        </div>
    </form>
</article>
