<header>
    <nav>
        <ul>
            <li class="left"><a routerLink="/">Home</a></li>
            <div *ngIf="!isLogged" class="right">
                <li><a routerLink="/login">Login</a></li>
                <li><a routerLink="/register">Register</a></li>
            </div>
            <div *ngIf="isLogged" class="right">
                <li><a routerLink="/profile">Profile</a></li>
                <li><a routerLink="/logout">Logout</a></li>
            </div>
        </ul>
    </nav>
</header>
