<header>
    <nav>
        <ul>
            <li class="left"><a routerLink="/">Home</a></li>
            <div *ngIf="!isLogged" class="right">
                <li><a routerLink="/login">Login</a></li>
                <li><a routerLink="/register">Register</a></li>
            </div>
            <div *ngIf="isLogged" class="right">
                <li><a routerLink="/add">Add Event</a></li>
                <li><a routerLink="/profile">Profile</a></li>
                <li class="logout" (click)="logout()">Logout</li>
            </div>
        </ul>
    </nav>
</header>
