<article>
    <form [formGroup]="signupForm" (ngSubmit)="signup()">
        <div class="form-wrapper">
            <h1>Register</h1>
            <label>Email
                <input type="text" formControlName="email">
            </label>
            <label>Password
                <input type="text" formControlName="password">
            </label>
            <label>Repeat Password
                <input type="text">
            </label>
            <div *ngIf="firebaseErrorMessage != ''">
                <span>{{ firebaseErrorMessage }}</span>
            </div>
            <div class="button-wrapper">
                <button class="action-button" type="submit">Register</button>
            </div>
        </div>
    </form>
</article>